@using ADVA_FrontEnd.Models.DTOS;
@model IEnumerable<DepartmentDto>


<div class="row m-4 text-end">
    <div class="col-12">
        <a type="submit" class="btn btn-primary" asp-action="CreateDepartment">Create Department</a>
    </div>
</div>


<table class="table table-hover">
    <thead>
        <tr class="table-active">
            <th>Id</th>
            <th>Name</th>
            <th>Delete</th>
            <th>Update</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var n in Model)
        {
            <tr>
                <td>@n.Id</td>
                <td>@n.Name</td>
                <td>
                    <a type="submit" asp-action="DeleteDepartment" asp-route-departmentId="@n.Id" class="btn btn-danger">Delete</a>
                </td>
                <td>
                    <a type="submit" asp-action="UpdateDepartment" asp-route-departmentId="@n.Id" class="btn btn-primary">Update</a>
                </td>
            </tr>
        }
    </tbody>

</table>